.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.huree {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 200px;
    height: 60px;
    background-color: aqua;   
}
